body{
    margin: 0%;
    padding: 0%;
}

header{
    height: 30%;
    padding: 3% 18%;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 3%;
}

#bg{
    background-image: url(images/bgimg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
    padding: 10% 35%;
}
    
#p1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    width: 100%;
    height: 35px;
    padding-top: 5%;
    background-color: grey;
} 

#p2{
    width: 110%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1em;
}
.centre img{
    border-radius: 15%;
    margin: 0% 30%;
}

#sous-sec1{
    display: flex;
}


#sous-sec1 h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 15% 0% 0% 0%;
}

#sous-sec1 div{
    margin-left: 12%;
} 
.circle {
    margin: 90% 0% 0% 0%;
    padding: 0%;
    width: 150px;
    height: 150px;
    border: 2px solid rgb(38, 162, 167); 
    border-radius: 75px;
}

.circle img{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    padding-top: 25%;
}

#sous-sec2{
    background-color: rgb(235, 232, 232);
}

h2{
    padding: 3% 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#sous-sec2 div{
    display: flex;
}

#sous-sec2 p{
    margin-left: 10%;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}


.line1{
    display: flex;
    width: 100%;
}

.column1{
    width: 25%;
}

.column1 img{
    width: 40%;
    height: 40%;
    margin: 30%;
}

#sec4{
    margin: 10%;
}

#sec4 h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

}

.pourcentage{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30%;

}

.line2{
    display: flex;
}

.column2{
    margin-left: 10%;
}

.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bp{
    width: 400px;
    height: 25%;
    border-radius: 100px;
    background-color: lightgray;
}

.bs{
    background-color: rgb(150, 189, 150);
    height: 100%;
    border-radius: 100px;
}

#sec5{
    background-color: rgb(150, 189, 150);
    height: 100vh;

}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3% 0% 0% 0%;
}

#group{
    overflow: hidden;
}

.image{
    width: 100%;
    height: 75vh;
    display: flex;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-name: mySlider;
}

@keyframes mySlider {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-640px);
    }
    50%{
        transform: translateX(-1280px);
    }
    75%{
        transform: translateX(-1920px);
    }
    100%{
        transform: translateX(0);
    }
}

#sec6 img{
    border-radius: 15%;
    margin: 10% 45%;
}

#bold{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%;
    font-weight: bolder;
}

footer{
    background-color: lightgrey;
}

#footer{
    display: flex;
}

#footer div{
    margin: 5% 5% 0% 10%;
}

#footer p{
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15% 0% 0% 0%;
    padding-bottom: 5%;
}