*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* nav-bar section */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.bi-list{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}

/* banner section */
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin: 20px;
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* adding section */
.bi-code-slash, .bi-type-bold{
    color: #a517ba;
    font-size: 4em;
    margin: 1rem;
}

.padding{
    padding-bottom: 2rem;
}

.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid  #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
/* service section */
#service{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

.service{
    padding: 20px;
}

.service h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    width: 200px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    background: #7b1798;
    display: block;
    transform: translateY(63px);
}

.title::after{
    width: 50px;
    height: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    background: #7b1798;
    display: block;
    transform: translateY(8px);
}

#service .btn-primary{
    box-shadow: none;
    border-radius: 20px;
    border: none;
    padding: 8px 25px;
    background: linear-gradient(to right, #a517ba, #5f1782);
}

/* about-us section */
.about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;

}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}


#about-us ul{
    margin-left: 20px;
}

#about-us ul li{
    margin: 10px 0;
}

/* tesimonials section */
#testimonials{
    margin: 100px 0;
}

.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}

/* Social-media section */
.social-media{
    background: #f8f9fa;
    padding: 100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}

/* footer */
#footer{
    background: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .bi{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    background: linear-gradient(to right, #a517ba, #5f1782);
}

hr{
    background-color: #fff;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}