*{
    margin: 0;
    padding: 0;
}

/* navbar */
.nav-item{
    font-size: 1.5em;
    margin-left: 1.5rem;
    color: black;
}

#navbarNav i{
    font-size: 1em;
    margin-left: 2rem;
}

#join-us-button{
    color: white;
    font-weight: bold;
    margin-left: 1.5rem;
    background-color: #ff9800;
}

/* banner */

#banner .divG{
    background: linear-gradient(to right, #3b6159, #069a77, #359b83);
    border-radius: 5px;
    height:400px;
    width: 650px;
}

.divG p{
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

#banner-btn{
    background-color: #F44336;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
}

/* about */

#about{
    padding-top: 5%;
    padding-bottom: 5%;
}

#about .left{
    background-color: #069a77;
    border-radius: 20px;
}

.left li{
    padding-bottom: 10%;
    padding-left: 10%;
}
#about .right{
    height: 630px;
    width: 475px;
    border: 2px solid #069a77;
    border-radius: 15px;
    margin-left: 2%;
}


#voir-plus{
    background-color: #F44336;
    width: 100px;
    color: white;
}

/* course */
.cadre{
    /* margin-left: 25%; */
    padding: 10% 20%;
    height: 250px;
    border-radius: 20px;   
}

/* diplome */
#diplome{
    background-image: linear-gradient(to right, #F44336, #F44336) ;
    color: white;
    padding-top: 5%;
}

/* activites */
#activites{
    background-image: linear-gradient(to right, #F44336, #F44336) ;
    color: white;
}

/* partenaire */
.carte{
    display: flex;
    border-radius: 30px;
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 0px 0px lightgray;
    background-color: white;
}

#partenaire .row{
    background-color: rgb(242, 247, 248);
}

/* footer */
#footer{
    background-color: #069a77;
}